<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Home</title>
    <link rel="stylesheet" href="styles.css" />
  </head>

  <body>
    <header>
      <h1>Secret club</h1>
      <div>
        <a href="logout">Log out</a>
      </div>
    </header>

    <section>
      <p>
        Hello, <%= `${userObj.firstName} ${userObj.lastName}` %>!
        <a href="upload-file">Upload</a> a new file.
      </p>
    </section>

    <section class="files">
      <h4>Your files</h4>

      <ol>
        <% userFiles.forEach(file => { %>
        <li>
          <p><%= file.fileName %></p>
          <p>Size: <%= (file.size / 1024 ** 2).toFixed(2) %> MB</p>
          <p>Created at: <%= file.formattedDate %></p>
          <a href="/<%= file.path %>" target="_blank">Download</a>
        </li>
        <% }) %>
      </ol>
    </section>
  </body>
</html>
